<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{% block title %}{{ site.name }} | Safety starts today{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{{ '/static/img/favicon.png' | url }}" />
    <link rel="canonical" href="{% if canonical %}{{ canonical }}{% else %}{{ site.url }}{{ page.url | url }}{% endif %}" />
    <link href="{{ '/static/css/style.css' | url }}" rel="stylesheet" />
    <link href="{{ '/static/css/syntax.css' | url }}" rel="stylesheet" />
    {% for author in authors -%}
    <meta name="author" content="{{ profiles[author].name }}" />
    {% endfor -%}
    {% if description -%}
    <meta name="description" content="{{ description }}" />
    {% endif -%}
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | url }}" />
    {% if date -%}
    <meta property="og:article:published_time" content="{{ date | date: '%Y-%m-%d' }}" />
    {% endif -%}
    {% for tag in tags offset:1 -%}{%-# remove the 'posts' tag #-%}
    <meta property="og:article:tag" content="{{ tag }}" />
    {% endfor -%}
    {%- if image -%}
    <meta property="og:image" content="{{ image }}" />
    {%- else -%}
    <meta property="og:image" content="{{ '/static/img/logo.svg' | url }}" />
    {% endif -%}
    {% block extra_meta -%}
    {% endblock extra_meta -%}
  </head>
  <body class="flex flex-col min-h-screen bg-neutral-900">
    <div class="bg-ul-midnight-blue">
      <header class="m-4 flex flex-row items-center">
        <a href="{{ '/' | url }}" class="text-white text-3xl me-6 tracking-wide">Safer<span class="text-slate-400">@</span>DayZero</a>
        <a href="{{ '/blog' | url }}" class="text-slate-300 hover:text-white text-xl tracking-wide me-6 lowercase">Blog</a>
        <a href="https://handbook.saferatdayzero.dev" class="text-slate-300 hover:text-white text-xl tracking-wide me-6 lowercase">Handbook</a>
        <!--
        <a href="#" class="text-slate-300 hover:text-white text-xl tracking-wide me-6 lowercase">Lab</a>
        <a href="#" class="text-slate-300 hover:text-white text-xl tracking-wide me-6 lowercase">Handbook</a>
        <a href="{{ '/about' | url }}" class="text-slate-300 hover:text-white text-xl tracking-wide me-6 lowercase">About</a>
        -->
      </header>
    </div>
    {% block body %}{{ content }}{% endblock body %}
    </main>
    <footer class="w-full px-4 pb-12 pt-4 font-sans mt-auto">
      <div class="flex flex-col md:flex-row md:justify-center items-center">
        <a class="md:mr-12 mb-4 md:mb-0" href="https://dsri.org">
          <img class="h-16" src="{{ '/static/img/dsri.svg' | url }}" />
        </a>
        <p class="text-white leading-relaxed text-center md:text-left">
          A <a class="underline" href="https://dsri.org">Digital Safety Research Institute</a> project.<br/>
          Copyright &copy; 2023-2024 <a class="underline" href="https://ul.org">UL Research Institutes</a>.
        </p>
      </div>
    </footer>
    <script src="{{ '/static/js/flowbite.js' | url }}"></script>
  </body>
</html>
