{% layout "twocolumn.html" %}

{% block column_one %}
<header class="mb-12">
  <h1 class="text-4xl sm:text-5xl md:text-6xl text-white mb-4">{{ title }}</h1>
  <p class="text-white">{{ date | date: "%B %e, %Y" }}</p>
  {% for author in authors -%}
  <p class="text-white">{{ profiles[author].name }}</p>
  {% endfor %}
</header>
{% for post in posts -%}
<article class="mb-8 flex flex-row items-end w-full">
    <div class="grow flex flex-col justify-between text-white">
      <h2 class="text-3xl mb-1"><a class="hover:underline font-bold" href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <p class="text-lg mb-4">{{ post.data.date | date: "%B %e, %Y" }}</p>
      {% if post.data.description != empty -%}
      <p class="prose prose-invert prose-slate prose-lg mb-2 max-w-none">{{ post.data.description }}</p>
      {% endif -%}
      {{ post.rawInput }}
    </div>
</article>
{% endfor -%}
<nav class="mb-8">
  <ul class="flex justify-between w-full h-10">
    {% if page.url != pagination.href.first -%}
    <li><a class="block font-bold text-gray-900 hover:underline" href="{{ pagination.href.previous }}">Newer</a></li>
    {% endif -%}
    <li class="flex-grow-1"></li>
    {% if page.url != pagination.href.last -%}
    <li><a class="block font-bold text-gray-900 hover:underline" href="{{ pagination.href.next }}">Older</a></li>
    {% endif -%}
  </ul>
</nav>
{% endblock column_one %}

{% block column_two %}{% endblock column_two %}
