{% layout "page.html" %}

{% block main %}
<div class="w-fit mx-auto my-16">
  <span class="text-white text-4xl sm:text-6xl md:text-8xl tracking-wide">Safer<span class="text-slate-400">@</span>DayZero</span>
</div>

<div class="prose prose-invert prose-slate prose-lg max-w-none">
{{ content }}
</div>
{% endblock main %}
