{% layout "base.html" %}

{% block body %}
<main class="container max-w-screen-xl mx-auto my-8 px-4 py-8">
  {% block main %}
  <div class="prose prose-slate prose-invert max-w-none">
    <header class="mb-12 pb-8">
      <h1 class="text-4xl sm:text-5xl md:text-6xl">{{ title }}</h1>
    </header>
    {{ content }}
    <img src="{{ '/static/img/logo.svg' | url }}" class="h-8 mx-auto mt-12" alt="" />
  </div>
  {% endblock main %}
</main>
{% endblock body %}
