{% layout "page.html" %}

{% block main %}
<div class="lg:grid lg:gap-8 lg:grid-cols-6 items-start">
  <article class="lg:col-span-4">
    {% block column_one %}
    <header class="mb-8">
      <h1 class="text-4xl sm:text-5xl md:text-6xl text-white mb-8">{{ title }}</h1>
      <div class="flex flex-wrap text-lg text-white mb-2 me-2">
        {% for author in authors -%}
        <span>{{ profiles[author].name }}</span>
        {% endfor -%}
        {% if date -%}
          <span class="mx-1">—</span>
          <span>{{ date | date: "%B %e, %Y" }}</span>
        {% endif -%}
        <span class="mx-1">—</span>
        <span>{{ content | readtime }} minute read</span>
      </div>
      {% if tags -%}
      <div class="flex flex-wrap text-lg text-white mb-2">
        {% for tag in tags -%}
          {% if tag == "posts" -%}{% continue %}{% else -%}
          <span class="bg-gray-700 text-white font-mono text-sm me-2 mb-2 px-2.5 py-0.5 rounded-full">{{ tag }}</span>
          {% endif -%}
        {% endfor -%}
      </div>
      {% endif -%}
      {% if canonical -%}
      <p class="italic text-white mt-6">Originally published at <a class="text-ul-sky-blue hover:underline" href="{{ canonical }}">{{ canonical }}</a>.</p>
      {% endif -%}
    </header>
    <div class="prose prose-slate prose-invert prose-lg prose-a:no-underline prose-code:font-normal prose-pre:bg-gray-700 prose-pre:text-lg prose-a:text-ul-sky-blue hover:prose-a:underline max-w-none">
      {{ content }}
    </div>
    {% endblock column_one %}
  </article>
  <aside class="lg:col-span-2 hidden lg:block prose prose-slate prose-invert prose-lg prose-ol:list-none prose-ol:my-0 prose-a:no-underline hover:prose-a:underline sticky top-8">
    {% block column_two %}
    {% assign page_toc = content | toc %}
    {% if page_toc != empty %}
    <p>Contents</p>
    {{ page_toc }}
    {% endif %}
    {% endblock column_two %}
  </aside>
</div>
{% endblock main %}
