/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

.prose :not(pre) > code {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  padding: 0.25rem 0.25rem 0.125rem 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  border-radius: 0.375rem;
}
